.app {
	text-align: center;
}

.logo {
	height: 40vmin;

	pointer-events: none;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	background-color: #282c34;

	color: white;
	font-size: calc(10px + 2vmin);
}

.link {
	color: #61dafb;
}

button {
	font-size: calc(10px + 2vmin);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: logo-spin infinite 20s linear;
	}
}
